<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483015164026-3s9mf3trb1njch5omlqgvb10ei51a1o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483015164026-3s9mf3trb1njch5omlqgvb10ei51a1o7</string>
	<key>API_KEY</key>
	<string>AIzaSyCMKpe1-zUOjivXUgJXWyw87aYwT8fA_js</string>
	<key>GCM_SENDER_ID</key>
	<string>483015164026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empyreans.psychai.psychAi</string>
	<key>PROJECT_ID</key>
	<string>psych-ai-f6a74</string>
	<key>STORAGE_BUCKET</key>
	<string>psych-ai-f6a74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483015164026:ios:ae0bb52174cd40b05e7bc3</string>
</dict>
</plist>